<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css" media="all" />
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    {% seo %}
  </head>
  <body>
    <header role="banner" class="site-header">
      <h1 class="logo">
        <a href="/">{{ site.title }}</a>
      </h1>
      <nav class="site-nav">
        <ul id="menu-top-menu" class="menu">
          <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-194">
            <a href="/about/">About</a>
          </li>
        </ul>
      </nav>
    </header>
    <div role="main" class="site-main">
      {{ content }}
    </div>
    <footer class="site-footer">
      <div class="footer-wrapper">
        <div class="linkcat">
        </div>
        <div class="copyright">
          <h2>Author</h2>
          <p>© 2017 Kate Scott
            <br><a href="https://www.katescott.net">Website and CV</a></p>
        </div>
      </div>
    </footer>
  </body>
</html>
